* {
    box-sizing: border-box;
    margin: 0;
}
body, html {
    height: 100%;
    width: 100%;
  }

#container {
    min-width: 100%;
    min-height: 100%;

    display: grid;
    grid-gap: 2vh;
    padding: 2vh;
    margin: 0;
}